<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Microservice Postgres Connector</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Visualization Platform</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Documentation API</h1>
        <p th:text="${version}"></p>
    </div>

    <ol>
        <li><a th:text="${swaggerUrl}" th:href="${swaggerUrl}"></a></li>
        <li><a th:text="${swaggerDocs}" th:href="${swaggerDocs}"></a></li>
    </ol>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>